rdp_queue/rdp_srv/Service References/rdp_queue_service/RdpQueueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RdpQueueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/rdp_queue?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/rdp_queue?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/rdp_queue?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/rdp_queue_service" />
      <xsd:import schemaLocation="http://localhost:1234/rdp_queue?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:1234/rdp_queue?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRdpQueueService_GetRdpState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRdpState" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_GetRdpState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRdpStateResponse" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_Enqueue_InputMessage">
    <wsdl:part name="parameters" element="tns:Enqueue" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_Enqueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueResponse" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_LockRdp_InputMessage">
    <wsdl:part name="parameters" element="tns:LockRdp" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_LockRdp_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockRdpResponse" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_FreeRdp_InputMessage">
    <wsdl:part name="parameters" element="tns:FreeRdp" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_FreeRdp_OutputMessage">
    <wsdl:part name="parameters" element="tns:FreeRdpResponse" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_DeleteFromQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromQueue" />
  </wsdl:message>
  <wsdl:message name="IRdpQueueService_DeleteFromQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromQueueResponse" />
  </wsdl:message>
  <wsdl:portType name="IRdpQueueService">
    <wsdl:operation name="GetRdpState">
      <wsdl:input wsam:Action="http://tempuri.org/IRdpQueueService/GetRdpState" message="tns:IRdpQueueService_GetRdpState_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRdpQueueService/GetRdpStateResponse" message="tns:IRdpQueueService_GetRdpState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enqueue">
      <wsdl:input wsam:Action="http://tempuri.org/IRdpQueueService/Enqueue" message="tns:IRdpQueueService_Enqueue_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRdpQueueService/EnqueueResponse" message="tns:IRdpQueueService_Enqueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LockRdp">
      <wsdl:input wsam:Action="http://tempuri.org/IRdpQueueService/LockRdp" message="tns:IRdpQueueService_LockRdp_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRdpQueueService/LockRdpResponse" message="tns:IRdpQueueService_LockRdp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FreeRdp">
      <wsdl:input wsam:Action="http://tempuri.org/IRdpQueueService/FreeRdp" message="tns:IRdpQueueService_FreeRdp_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRdpQueueService/FreeRdpResponse" message="tns:IRdpQueueService_FreeRdp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFromQueue">
      <wsdl:input wsam:Action="http://tempuri.org/IRdpQueueService/DeleteFromQueue" message="tns:IRdpQueueService_DeleteFromQueue_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRdpQueueService/DeleteFromQueueResponse" message="tns:IRdpQueueService_DeleteFromQueue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRdpQueueService" type="tns:IRdpQueueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRdpState">
      <soap:operation soapAction="http://tempuri.org/IRdpQueueService/GetRdpState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enqueue">
      <soap:operation soapAction="http://tempuri.org/IRdpQueueService/Enqueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockRdp">
      <soap:operation soapAction="http://tempuri.org/IRdpQueueService/LockRdp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreeRdp">
      <soap:operation soapAction="http://tempuri.org/IRdpQueueService/FreeRdp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromQueue">
      <soap:operation soapAction="http://tempuri.org/IRdpQueueService/DeleteFromQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RdpQueueService">
    <wsdl:port name="BasicHttpBinding_IRdpQueueService" binding="tns:BasicHttpBinding_IRdpQueueService">
      <soap:address location="http://localhost:1234/rdp_queue" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>