rdp_queue/rdp_queue_client/Service References/rdp_queue_service/rdp_queue3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/rdp_queue_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/rdp_queue_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/rdp_queue?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="RdpState">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentLocker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Queue" nillable="true" type="q1:QueueOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RdpState" nillable="true" type="tns:RdpState" />
</xs:schema>